USE [BioMedicina]
GO
/****** Object:  Table [dbo].[AgendaNutricao]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendaNutricao](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](150) NULL,
	[IDADE] [int] NULL,
	[SEXO] [nchar](1) NULL,
	[RG] [nvarchar](50) NULL,
	[CPF] [nvarchar](50) NULL,
	[DATANASCIMENTO] [date] NULL,
	[ETNIA] [nvarchar](50) NULL,
	[DATAAGENDAMENTO] [date] NULL,
	[OBSERVACAO] [nvarchar](4000) NULL,
	[HORAAGENDAMENTO] [nvarchar](8) NULL,
 CONSTRAINT [PK_AgendaNutricao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AgendarPedido]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgendarPedido](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DATAAGENDAMENTO] [date] NULL,
	[HORAAGENDAMENTO] [nvarchar](8) NULL,
	[TIPO] [nvarchar](50) NULL,
	[IDPACIENTE] [bigint] NULL,
	[DATAPEDIDO] [date] NULL,
	[IDEXAME] [bigint] NULL,
	[STATUS] [bit] NULL,
	[CODIGO] [bigint] NULL,
 CONSTRAINT [PK_AgendarPedido] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoriaMaterial]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaMaterial](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](150) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_CategoriaMaterial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contato]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contato](
	[IDCONTATO] [bigint] IDENTITY(1,1) NOT NULL,
	[IDPACIENTE] [bigint] NULL,
	[TIPO] [nvarchar](20) NULL,
	[TELEFONE] [nvarchar](20) NULL,
	[RAMAL] [nvarchar](20) NULL,
	[FALARCOM] [nvarchar](100) NULL,
 CONSTRAINT [PK_Contato] PRIMARY KEY CLUSTERED 
(
	[IDCONTATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[IDENDERECO] [bigint] IDENTITY(1,1) NOT NULL,
	[IDPACIENTE] [bigint] NULL,
	[CEP] [nvarchar](10) NULL,
	[RUA] [nvarchar](150) NULL,
	[BAIRRO] [nvarchar](150) NULL,
	[UF] [nvarchar](3) NULL,
	[CIDADE] [nvarchar](50) NULL,
	[NUMERO] [int] NULL,
	[COMPLEMENTO] [nvarchar](150) NULL,
 CONSTRAINT [PK_Endereco] PRIMARY KEY CLUSTERED 
(
	[IDENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntradaPaciente]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntradaPaciente](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDAGENDA] [bigint] NULL,
	[DATAENTRADA] [date] NULL,
	[STATUS] [nvarchar](50) NULL,
 CONSTRAINT [PK_EntradaPaciente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exame]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exame](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](150) NULL,
	[IDSETOR] [bigint] NULL,
	[SIGLA] [nvarchar](50) NULL,
	[RESULTADOPADRAO] [nvarchar](100) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_Exame] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [bigint] NULL,
	[ACAO] [nvarchar](50) NULL,
	[TELA] [nvarchar](50) NULL,
	[DATA] [date] NULL,
	[HORA] [nvarchar](8) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Material]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](150) NULL,
	[IDCATEGORIA] [bigint] NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MovimentacaoMaterial]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimentacaoMaterial](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMATERIAL] [bigint] NULL,
	[QTDE] [bigint] NULL,
	[TIPO] [int] NULL,
	[DATAMOVIMENTACAO] [date] NULL,
 CONSTRAINT [PK_MovimentacaoMaterial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Paciente](
	[IDPACIENTE] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](150) NULL,
	[IDADE] [int] NULL,
	[SEXO] [char](1) NULL,
	[RG] [nvarchar](50) NULL,
	[CPF] [nvarchar](50) NULL,
	[DATANASCIMENTO] [date] NULL,
	[RESPONSAVEL] [nvarchar](100) NULL,
	[ETNIA] [nvarchar](50) NULL,
	[MEDICAMENTOUSO] [nvarchar](4000) NULL,
	[MEDICAMENTOCONTROLADO] [nvarchar](4000) NULL,
	[PORTADORDOENCA] [nvarchar](4000) NULL,
	[OBS] [nvarchar](4000) NULL,
	[IDUSUARIO] [bigint] NULL,
	[DATAULTIMAALTERACAO] [date] NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[IDPACIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PedidoExame]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoExame](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDPACIENTE] [bigint] NULL,
	[DATAAGENDAMENTO] [date] NULL,
	[IDEXAME] [bigint] NULL,
	[OBSERVACAO] [nvarchar](4000) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_PedidoExame] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PedidoMaterial]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoMaterial](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDMATERIAL] [bigint] NULL,
	[QTDE] [bigint] NULL,
	[DATAENTRADA] [date] NULL,
	[NRONOTA] [nvarchar](50) NULL,
	[DATAEPEDIDO] [date] NULL,
	[DESCRICAO] [nvarchar](4000) NULL,
 CONSTRAINT [PK_PedidoMaterial] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permissoes]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissoes](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TELA] [nvarchar](100) NOT NULL,
	[VISUALIZAR] [bit] NOT NULL,
	[CADASTRAR] [bit] NOT NULL,
	[ALTERAR] [bit] NOT NULL,
	[HABILITAR_DESABILITAR] [bit] NOT NULL,
 CONSTRAINT [PK_Permissoes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PermissoesUsuario]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissoesUsuario](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDUSUARIO] [bigint] NOT NULL,
	[TELA] [nvarchar](100) NOT NULL,
	[VISUALIZAR] [bit] NOT NULL,
	[CADASTRAR] [bit] NOT NULL,
	[ALTERAR] [bit] NOT NULL,
	[HABILITAR_DESABILITAR] [bit] NOT NULL,
 CONSTRAINT [PK_PermissoesUsuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resultado]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultado](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[IDPACIENTE] [bigint] NULL,
	[DATAAGENDAMENTO] [date] NULL,
	[HORAAGENDAMENTO] [nvarchar](8) NULL,
	[IDEXAME] [bigint] NULL,
	[RESULTADOPADRAO] [nvarchar](50) NULL,
	[RESULTADOFINAL] [nvarchar](50) NULL,
	[OBSERVACAO] [nvarchar](4000) NULL,
	[IDUSUARIO] [bigint] NULL,
	[DATAFINALIZACAO] [date] NULL,
	[RESPONSAVEL] [nvarchar](100) NULL,
 CONSTRAINT [PK_Resultado] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setor]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setor](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](100) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_Setor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 22/03/2019 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](150) NULL,
	[LOGIN] [nvarchar](80) NULL,
	[SENHA] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[ESPECIALIDADE] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[AgendarPedido]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Exame] FOREIGN KEY([IDEXAME])
REFERENCES [dbo].[Exame] ([ID])
GO
ALTER TABLE [dbo].[AgendarPedido] CHECK CONSTRAINT [FK_Agenda_Exame]
GO
ALTER TABLE [dbo].[AgendarPedido]  WITH CHECK ADD  CONSTRAINT [FK_Agenda_Paciente] FOREIGN KEY([IDPACIENTE])
REFERENCES [dbo].[Paciente] ([IDPACIENTE])
GO
ALTER TABLE [dbo].[AgendarPedido] CHECK CONSTRAINT [FK_Agenda_Paciente]
GO
ALTER TABLE [dbo].[Contato]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_CONTATO] FOREIGN KEY([IDPACIENTE])
REFERENCES [dbo].[Paciente] ([IDPACIENTE])
GO
ALTER TABLE [dbo].[Contato] CHECK CONSTRAINT [FK_PACIENTE_CONTATO]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_PACIENTE] FOREIGN KEY([IDPACIENTE])
REFERENCES [dbo].[Paciente] ([IDPACIENTE])
GO
ALTER TABLE [dbo].[Endereco] CHECK CONSTRAINT [FK_ENDERECO_PACIENTE]
GO
ALTER TABLE [dbo].[EntradaPaciente]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Agendamento] FOREIGN KEY([IDAGENDA])
REFERENCES [dbo].[AgendarPedido] ([ID])
GO
ALTER TABLE [dbo].[EntradaPaciente] CHECK CONSTRAINT [FK_Entrada_Agendamento]
GO
ALTER TABLE [dbo].[Exame]  WITH CHECK ADD  CONSTRAINT [FK_Exame_Setor] FOREIGN KEY([IDSETOR])
REFERENCES [dbo].[Setor] ([ID])
GO
ALTER TABLE [dbo].[Exame] CHECK CONSTRAINT [FK_Exame_Setor]
GO
ALTER TABLE [dbo].[Log]  WITH CHECK ADD  CONSTRAINT [FK_Log_Usuario] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Log] CHECK CONSTRAINT [FK_Log_Usuario]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_CategoriaMaterial] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CategoriaMaterial] ([ID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_CategoriaMaterial]
GO
ALTER TABLE [dbo].[MovimentacaoMaterial]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMENTACAO_MATERIAL] FOREIGN KEY([IDMATERIAL])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[MovimentacaoMaterial] CHECK CONSTRAINT [FK_MOVIMENTACAO_MATERIAL]
GO
ALTER TABLE [dbo].[Paciente]  WITH CHECK ADD  CONSTRAINT [FK_PACIENTE_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Paciente] CHECK CONSTRAINT [FK_PACIENTE_USUARIO]
GO
ALTER TABLE [dbo].[PedidoExame]  WITH CHECK ADD  CONSTRAINT [FK_PedidoExame_Paciente] FOREIGN KEY([IDPACIENTE])
REFERENCES [dbo].[Paciente] ([IDPACIENTE])
GO
ALTER TABLE [dbo].[PedidoExame] CHECK CONSTRAINT [FK_PedidoExame_Paciente]
GO
ALTER TABLE [dbo].[PedidoMaterial]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Material] FOREIGN KEY([IDMATERIAL])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[PedidoMaterial] CHECK CONSTRAINT [FK_Pedido_Material]
GO
ALTER TABLE [dbo].[PermissoesUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PERMISSOES_USUARIO] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[PermissoesUsuario] CHECK CONSTRAINT [FK_PERMISSOES_USUARIO]
GO
ALTER TABLE [dbo].[Resultado]  WITH CHECK ADD  CONSTRAINT [FK_Resultado_Exame] FOREIGN KEY([IDEXAME])
REFERENCES [dbo].[Exame] ([ID])
GO
ALTER TABLE [dbo].[Resultado] CHECK CONSTRAINT [FK_Resultado_Exame]
GO
ALTER TABLE [dbo].[Resultado]  WITH CHECK ADD  CONSTRAINT [FK_Resultado_Paciente] FOREIGN KEY([IDPACIENTE])
REFERENCES [dbo].[Paciente] ([IDPACIENTE])
GO
ALTER TABLE [dbo].[Resultado] CHECK CONSTRAINT [FK_Resultado_Paciente]
GO
ALTER TABLE [dbo].[Resultado]  WITH CHECK ADD  CONSTRAINT [FK_Resultado_Usuario] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[Usuario] ([ID])
GO
ALTER TABLE [dbo].[Resultado] CHECK CONSTRAINT [FK_Resultado_Usuario]
GO
